<html>
	<body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:1em;">
		<table>
			<tr>
				<td style="vertical-align:top; padding: 10px;">
					<img src="http://23.23.109.117:8080/congreso/recursos/images/LOGO_ficha.png"/>
				</td>
				<td>		
					<div>
						<p style="font-size:1em;">Estimado <b>${nombre},</b></p>
						 
						<p style="font-size:1em; width: 500px;">
							Su cuenta ha sido confirmada con el correo que registro 
							en el sitio del <b>Congreso Nacional Bioalimentario</b>.
							Por tanto, le proporcionaremos los datos de su cuenta:
							
							<br/><br/>
							
							<b>Usuario:</b> ${usuario}
							<b>Clave:</b> ${clave}
															
							<br/>
							<br/>
							Para iniciar sesi&oacuten haga clic a la siguiente liga
							<a href="${url}">${url}</a>
						</p>
			 
						<p style="font-size:1em; width: 500px; font-size:0.7em">
							<b>Aviso</b>: Por favor, no conteste a este correo!
						<p/>			
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>